@import "./bootstrap.scss";

////////////////////////////////////////////////////////////////////////////////

.icon-Publication    { background-image: url(img/icon-Publication.png)    !important }
.icon-ClinicalIndex  { background-image: url(img/icon-ClinicalIndex.png)  !important }
.icon-LocatedMeasure { background-image: url(img/icon-LocatedMeasure.png) !important }
.icon-LyphTemplate   { background-image: url(img/icon-LyphTemplate.png)   !important }
.icon-Correlation    { background-image: url(img/icon-Correlation.png)    !important }

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

html, body {
	position: absolute;
	top:        0;
	left:       0;
	padding:    0;
	margin:     0;
	min-width:  100%;
	min-height: 100%;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

svg.dragging rect.layerTemplate {
	pointer-events: visibleFill;
}
rect[layerTemplate] {

}
